body {
    font-family: Arial, sans-serif;
    background-color: #a3ac8d67;
    padding: 20px;
}

h1 {
    color: #000000;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 20px;
    margin: 5px 0;
}

button {
    background-color: #22222252;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    
}

button:hover {
    background-color: #555;
}

li {
    margin-bottom: 8px;
}
